mixin hdx-info-box-with-header(infoBoxWithHeaderTitle, infoBoxWithHeaderText)
    .hdx-info-box-with-header.h-box-shadow.col-lg-4
        .hdx-info-box-with-header__header=infoBoxWithHeaderTitle
        .hdx-info-box-with-header__text.p-shadow.p-color=infoBoxWithHeaderText