.page-join-hydration {
  .join-hydration {
    max-width: 951px;
    margin-top: 1em;
  }

  img {
    display: block;
    margin: auto;
  }

  img.logo {
    width: 150px;
  }

  img.separator {
    width: 68px;
  }

  .btn-application-form {
    margin: 2em auto 3em auto;
  }
}
