mixin header
    header.header
        ul.header__menu
            li
                a(href=url('/', locale)) About
            li
                a(href=url('/writings.html', locale)) Docs
            li
                a(href=url('/basilisk.html', locale)) Basilisk
            li
                a(href=url('/join-hydration.html', locale)) Join Hydration
