.hdx-left-body-icon-wrapper {
  position: relative;
}

.hdx-left-arrow-body-icon {
  width: 184px;
  height: 370px;
  position: absolute;
  top: -240px;
  left: 0;
}

.hdx-left-body-icon {
  width: 172px;
  height: 172px;
  margin-left: 28px;
}