.hdx-right-body-icon-wrapper {
  position: relative;
}

.hdx-right-arrow-body-icon {
  width: 110px;
  height: 224px;
  position: absolute;
  top: -170px;
  left: 0;
}

.hdx-right-body-icon {
  width: 83px;
  height: 204px;
  margin-right: 28px;
}